[build]
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

[context.production]
environment = { VITE_APP_ENV = "production" }

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
